<footer>
  <div class="row">
    <div class="large-12 columns">
      <ul class="large-block-grid-3">
        <li>
          <%= link_to(image_tag('ClearTheNoise-logo-tsa-sm.png', alt: 'ClearTheNoise logo'), 'http://www.clearthenoise.com') %>
          <p class="mission">Sharing web development thoughts and bringing useful apps to market is what I do.</p>

          <p class="copyright">&copy; <%= copyright_years(2013) %> Chris Allen Moore. All Rights Reserved.</p>
        </li>
        <li></li>
        <li>
          <ul class="inline-list right">
            <li><%= link_to raw("<i class='icon-twitter-sign icon-2x'></i>"), 'https://twitter.com/chrisallenmoore', target: '_blank', rel: 'nofollow' %></li>
            <li><%= link_to raw("<i class='icon-google-plus-sign icon-2x'></i>"), 'https://plus.google.com/u/0/106209202247175897715/', target: '_blank', rel: 'nofollow' %></li>
            <li><%= link_to raw("<i class='icon-github icon-2x'></i>"), 'https://github.com/ClearTheNoise', target: '_blank', rel: 'nofollow' %></li>
            <li><%= link_to raw("<i class='icon-linkedin icon-2x'></i>"), 'http://www.linkedin.com/in/chrisallenmoore', target: '_blank', rel: 'nofollow' %></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</footer>
